@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 1px);
    background-color: var(--very-dark-blue-main);
    font-size: 62.5%;
}
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white-color: hsl(0, 0%, 100%);
}
.container {
    width: 320px;
    background-color: var(--very-dark-blue-card);
    text-align: center;
    border-radius: 1rem;
}
.container .container-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1.6rem;
}
.container .container-content {
    padding: 0 1.6rem 3rem 1.6rem;
}
.container .container-content .container-heading {
    color: var(--white-color);
    text-align: left;
    font-size: 1rem;
    padding-bottom: 2rem;
}
.container .container-content .container-desc {
    color: var(--soft-blue);
    font-size: 0.8rem;
    text-align;
}